body{
    text-align: center
}


h1{
    background-color: purple;
    text-align: center
}
h2{
    color: red;
    text-align: center
}

button{
    text-align: center
}
.mainscreen1{
    padding: 0;
    margin: 0;
    background-color: rgba(red, green, blue, alpha)
}
.calcBody{
    background-color: red
}
.container{
    color: gray
}
row{
    background-color: gray
}
